cms_manual_init: false
load_config_file: false
backend:
  name: github
  repo: marxian/norfolkpunt
  branch: main
  base_url: 'https://www.norfolkpunt.org'
  auth_endpoint: api/auth
  commit_messages:
    create: 'feat: add {{collection}} {{slug}}'
    update: 'fix: update {{collection}} {{slug}}'
    delete: 'fix: remove {{collection}} {{slug}}'
    uploadMedia: 'feat: add media {{path}}'
    deleteMedia: 'fix: remove media {{path}}'
local_backend: true
site_url: 'https://www.norfolkpunt.org'
logo_url: 'https://www.norfolkpunt.org/logo.png'
media_folder: /public/images
public_folder: /images
collections:
  - name: notices
    label: Notices
    label_singular: Notice
    folder: content/notices
    editor:
      preview: false
    preview_path: '/'
    create: true
    slug: '{{title}}'
    summary: '{{title}}'
    sortable_fields:
      - name
    extension: md
    identifier_field: title
    fields:
      - label: Title
        name: title
        widget: string
        required: false
      - label: Image
        name: image
        widget: image
        required: false
        media_folder: '/public/images/notices'
        public_folder: '/images/notices'
        tagname: ''
      - label: Alt
        name: alt
        widget: string
        required: false
      - label: Body
        name: body
        widget: markdown
        required: true
  - name: pages
    label: Pages
    files:
      - label: Gallery
        name: gallery
        file: content/pages/gallery.md
        editor:
          preview: false
        fields:
        - label: Images
          name: images
          widget: list
          summary: '{{fields.image}}'
          collapsed: false
          add_to_top: true
          fields:
            - label: Image
              name: src
              widget: image
              media_folder: '/public/images/gallery'
              public_folder: '/images/gallery'
              required: true
            - label: Caption
              widget: string
              name: caption
              required: true
            - label: Attribution
              name: attribution
              widget: string
      - label: Calendar
        name: calendar
        file: content/pages/calendar.md
        editor:
          preview: false
        fields:
        - label: Events
          name: events
          widget: list
          summary: '{{fields.title}}'
          collapsed: true
          add_to_top: false
          fields:
            - label: Title
              widget: string
              name: title
              required: true
            - label: Start
              name: start
              widget: datetime
              date_format: "YYYY-MM-DD"
              format: "YYYY-MM-DD"
              time_format: false
              required: true
              default: ""
            - label: End
              name: end
              widget: datetime
              format: "YYYY-MM-DD"
              date_format: "YYYY-MM-DD"
              time_format: false
              required: false
              default: ""
            - label: "Type"
              name: "type"
              widget: "select"
              multiple: true
              options: ["Open Meeting", "Regatta", "Navigation Race", "Travellers Series", "AGM", "EGM", "HTC Meeting", "Social"]
            - label: Link
              widget: string
              name: link
              required: false
            - label: Description
              name: description
              required: false
              widget: markdown
              buttons:
                - bold
                - italic
                - heading-four
                - quote
                - bulleted-list
                - numbered-list
              editor_components:
                - image
              sanitize_preview: true
      - label: Honours
        name: honours
        file: content/pages/honours.md
        editor:
          preview: false
        fields:
        - label: Events
          name: events
          widget: list
          summary: '{{fields.year}} {{fields.name}} {{fields.winner}}'
          collapsed: true
          add_to_top: true
          fields:
            - label: Name
              widget: select
              name: name
              required: true
              options: [
                'Athene Cup',
                'Blackbird Trophy',
                'Ardea Cup',
                'Punt Championship Cup',
                'Progress Cup',
                'Hardchine Trophy',
                'Broadshaven Cup',
                'Cuckoo Cup',
                'Forbes Cup',
                'Sundog Trophy',
                'Flight Cup (Travellers Series)',
                'Three Rivers Race',
                'Triple B'
              ]
            - label: Year
              name: year
              widget: string
              required: true
              default: ""
            - label: Winner
              name: winner
              required: true
              widget: relation
              collection: "boats"
              search_fields: ["name", "sailNumber"]
              value_field: "{{slug}}"
              display_fields: ["{{name}} - {{sailNumber}}"]
            - label: Helm
              name: helm
              required: false
              widget: string
            - label: Crew
              name: crew
              required: false
              widget: string
      - label: Yardstick Change Log
        name: yardstick-change-log
        file: content/pages/yardstick-change-log.md
        editor:
          preview: false
        fields:
          - label: Decisions
            name: decisions
            widget: list
            summary: '{{fields.decision.date}}'
            collapsed: true
            add_to_top: true
            fields:
              - label: Decision
                name: decision
                widget: object
                fields:
                  - label: Date
                    name: date
                    widget: datetime
                    default: '{{now}}'
                    date_format: "DD-MM-YYYY"
                  - label: Rationale
                    name: rationale
                    widget: text
                    required: false
                  - label: Boats Affected
                    name: boatsAffected
                    widget: list
                    collapsed: true
                    add_to_top: true
                    summary: '{{fields.slug}} {{fields.from}} -> {{fields.to}}'
                    fields:
                      - label: Boat
                        name: slug
                        required: true
                        widget: relation
                        collection: "boats"
                        search_fields: ["name", "sailNumber", "handicap"]
                        value_field: "{{slug}}"
                        display_fields: ["{{name}} ({{sailNumber}}) - ${{handicap}}"]
                      - label: From
                        name: from
                        widget: string
                        required: true
                      - label: To
                        name: to
                        widget: string
                        required: true
  - name: boats
    label: Boats
    label_singular: Boat
    folder: content/boats
    editor:
      preview: false
    preview_path: 'boats/{{slug}}'
    create: true
    slug: '{{name}}-{{fields.sailNumber}'
    summary: '{{name}} {{sailNumber}} - {{design}}'
    sortable_fields:
      - name
      - sailNumber
      - yearBuilt
      - design
    extension: md
    identifier_field: name
    fields:
      - label: Name
        name: name
        widget: string
      - label: Sail Number
        name: sailNumber
        widget: number
      - label: Cover Image
        name: coverImage
        widget: image
        required: false
        media_folder: '/public/images/boats'
        public_folder: '/images/boats'
        tagname: ''
      - label: Year Built
        name: yearBuilt
        widget: number
      - label: Length
        name: loa
        widget: number
        hint: in feet
      - label: Handicap
        name: handicap
        widget: number
        hint: Portsmouth Yardstick
      - label: Provisional Handicap
        name: provisionalHandicap
        widget: boolean
        required: false
      - label: Handicap Suffix Letter
        name: suffixLetter
        widget: string
        pattern: ["^[A-Z]$", "Must be a single capital letter"]
      - label: Builder
        name: builder
        widget: string
      - label: Construction
        name: construction
        widget: string
      - label: Design
        name: design
        widget: string
      - label: Designer
        name: designer
        widget: string
      - label: Owners
        name: owners
        widget: list
        add_to_top: true
        label_singular: Owner
        summary: '{{fields.from}} - {{fields.owner}}'
        fields:
          - label: From
            name: from
            widget: number
          - label: To
            name: to
            widget: number
            required: false
          - label: Owner
            name: owner
            widget: string
      - label: Hull Measurements
        name: hullMeasurements
        widget: list
        summary: '{{fields.date}} - {{fields.weight}}lbs'
        add_to_top: true
        fields:
          - label: Date
            name: date
            widget: string
            hint: dd/mm/yyyy
          - label: Weight
            name: weight
            widget: number
            required: false
            value_type: float
            hint: lbs
          - label: Forms
            name: forms
            widget: file
            required: false
            media_folder: '/public/files/measurements/hull'
            public_folder: '/files/measurements/hull'
      - label: Sail Measurements
        name: sailMeasurements
        widget: list
        summary: '{{fields.date}} - {{fields.area}}sqm'
        add_to_top: true
        fields:
          - label: Date
            name: date
            widget: string
            hint: dd/mm/yyyy
          - label: Area
            name: area
            widget: number
            required: false
            value_type: float
            hint: sqm
          - label: Forms
            name: forms
            widget: file
            required: false
            media_folder: '/public/files/measurements/sail'
            public_folder: '/files/measurements/sail'
      - label: Stories
        name: stories
        widget: list
        fields:
          - label: Story
            name: story
            widget: markdown
            buttons:
              - bold
              - italic
              - heading-four
              - quote
              - bulleted-list
              - numbered-list
            editor_components:
              - image
            sanitize_preview: true
          - label: Author
            name: author
            widget: string
